.body {
    -fx-background-color: #ffffff;
}
.atas {
    -fx-background-color: #028D02;
}
.menu1 {
    -fx-background-color: #028D02;
    -fx-background-radius: 20px;
}
.menu2 {
    -fx-background-color: #028D02;
    -fx-background-radius: 20px;
}
.menu3 {
    -fx-background-color: #028D02;
    -fx-background-radius: 20px;
}
.buttonmenu1 {
    -fx-background-radius: 20px;
}
.buttonmenu2 {
    -fx-background-radius: 20px;
}
.buttonmenu3 {
    -fx-background-radius: 20px;
}
.tabledashboard {
    -fx-background-color: #ffffff;
}
.btt{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
}
.stp{
    -fx-background-color:#ffffff;
}
.stpp{
    -fx-background-color:#ffffff;
}
.pn3{
    -fx-background-color:#F2F0F0;
}
.pn5{
    background-color:#f2f0f0;
}
.pnnn{
    -fx-background-color:#f2f0f0;
}
.bttt{
    -fx-border-radius:5px;
    -fx-border-style: solid;
    -fx-background-color: #C60000;
    -fx-background-radius: 5px;
}

.bttt1{
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: #089A03 ;
    -fx-background-radius: 5px;
}
.pnnn1{
    -fx-background-color:#ffffff;
}
.pnnn2{
    -fx-background-color:#f2f0f0;
}
.btttt{
    fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: #089A03 ;
    -fx-background-radius: 5px;

}
table-view {
    -fx-background-color: transparent;
}
.table-row-cell {
    -fx-border-color: black;
    -fx-border-width: 0px 2px 2px 2px;
}

.table-cell {
    -fx-border-color: black;
    -fx-border-width: 0px 2px 0px 2px;
}

.table-column {
    -fx-border-color: rgb(255, 255, 255);
    
}

.table-view .column-header-background {
    -fx-background-color: #272626; 
    -fx-background-radius: 10px 10px 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent; 
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
    