.pane{
 -fx-background-color: #B7B7B7;
}
.atas{
    -fx-background-color: #E2E0E0;
}
.pane-bawah{
   -fx-background-color: #FFFFFF;
}
.cari-2{
    -fx-background-color: #089A03;
   -fx-background-radius: 20px;
}
.cari{
    -fx-border-radius: 25px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: #FFFFFF;
}
.calculation{
    -fx-background-color: #089A03;
   -fx-background-radius: 20px;
}

