.pane {
    -fx-background-color: #B7B7B7;
}
.atas {
    -fx-background-color: #E2E0E0;
}
.bawah {
   -fx-background-color: #FFFFFF;
}
.button-cari{
   -fx-background-color: #089A03;
   -fx-background-radius: 20px;
}
.txt-cari{
    -fx-border-radius: 25px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-background-color: #FFFFFF;
}
.button-tambah{
    -fx-background-color: #089A03;
}
.tb-kerja{
    -fx-background-color: #FFFFFF;
}