
.pane{
    -fx-background-color: #ffffff;
}
.stackpane3{
    -fx-background-color: #ffffff;
}
.stackpane4{
    -fx-background-color: #F2F0F0;
}
.pane1{
    -fx-background-color:#F2f0f0 ;
}
.stackpane0{
    -fx-background-color: #ffffff;
}
.pane2{
    -fx-background-color: #ffffff;
}
.pane3{
    -fx-background-color: #f2f0f0;
}
.sp{
    -fx-background-color: #ffffff;
}
.button{
    -fx-background-color: #C60000;
}
.button1{
    -fx-background-color: #089A03;
}
