.pane{
    -fx-background-color: #ffffff;
}
.pane-2{
    -fx-background-color: #F2F0F0;
}
.pane-3{
    -fx-background-color: #ffffff;
}
.pane-4{
    -fx-background-color: #f2f0f0;
}
.pane-5{
    -fx-background-color: #ffffff;
}
.bt{
    -fx-background-color: #C60000;
}
.bt-2{
    -fx-background-color: #089A03;
}
