.pane{
    -fx-background-color: #ffffff;
}
.button-1{
    -fx-background-color: #ffffff ;
}
.dk{
    -fx-background-color: #ffffff;
}
.djk{
    -fx-background-color: #ffffff;
}
.dkk{
    -fx-background-color: #ffffff;
}
.RA{
    -fx-background-color: #ffffff;
}
.pl{
    -fx-background-color: #ffffff;
}
.buttondashboard:hover {
    -fx-background-color: #ffffff;
} 