.body {
    -fx-background-color: #ffffff;
}
.atas {
    -fx-background-color: #d6d6d6;
}
.textfield1 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-color: #000000;
    -fx-border-radius: 20px;
}
.buttoncari {
    -fx-border-radius: 15px;
    -fx-border-style: solid;
    -fx-background-color: #089A03 ;
    -fx-background-radius: 15px;

}
.buttoncari:hover {
    -fx-border-radius: 15px;
    -fx-border-style: solid;
    -fx-background-color: #087408;
    -fx-background-radius: 15px;

}
.group1 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}
.ID {
    -fx-background-color: #d6d6d6;
}
.nama {
    -fx-background-color: #d6d6d6;
}
.tanggalmasuk {
    -fx-background-color: #d6d6d6;
}
.status {
    -fx-background-color: #d6d6d6;
}
.ID1 {
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 20px;
}
.nama1 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}
.alamat {
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 20px;
}
.nohp {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}
.email {
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 20px;
}
.tglmsk {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}
.posisi {
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 20px;
}
.status1 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}
.buttontambah {
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: #089A03 ;
    -fx-background-radius: 5px;
}

.buttontambah:hover {
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: #087408;
    -fx-background-radius: 5px;
}

.table-view {
    -fx-background-color: transparent;
        -fx-font-size: 14px;
        -fx-font-family: "Segoe UI";
}
/* .table-row-cell {
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 0px 2px 2px 0px;
} */
.table-view .table-cell {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 5px;
}

/* .table-cell {
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 0px 2px 0px 2px;
} */

.table-column {
    -fx-border-color: rgb(14, 13, 13);
    
    
}

.table-view .column-header-background {
    -fx-background-color: #272626; 
   
}

.table-view .column-header {
    -fx-background-color: transparent; 
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.pane1{
    -fx-background-color: #ffffff; 
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}



.namadalam{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}
.alamatdalam{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}
.nohpdalam{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}
.emaildalam{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}
.tglmskdalam{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}
.posisidalam{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}
.buttonsimpan {
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: #089A03 ;
    -fx-background-radius: 5px;
}
.buttonsimpan:hover {
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: #087408 ;
    -fx-background-radius: 5px;
}
.buttonbatal {
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: #d20606;
    -fx-background-radius: 5px;
}
.buttonbatal:hover {
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: #9f0b0b;
    -fx-background-radius: 5px;
}